@import "../custom-properties.css";

/** @define ProminentLink; */

.ProminentLink {
  background-color: var(--green);
  color: var(--white);
  display: inline-block;
  font: 600 var(--type-2) var(--brand-font);
  min-width: 6rem;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;

  &:hover {
    text-decoration: none;
  }

  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.ProminentLink--full {
  width: 100%;
}

.ProminentLink--black {
  background-color: var(--black);
}

.ProminentLink--orange {
  background-color: var(--orange);
}

.ProminentLink--pink {
  background-color: var(--pink);
}

.ProminentLink--purple {
  background-color: var(--purple);
}

.ProminentLink--teal {
  background-color: var(--teal);
}
