@import "../custom-properties.css";

/** @define Details; */

.Details {
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.Details-summary {
  cursor: pointer;
  font: 300 var(--type-0) system-ui;
}

.Details-children {
  margin-top: 1.5rem;
}
