.SubmitAction {
  appearance: none;
  background-color: #81bc00;
  border: 0;
  border-radius: 0;
  box-shadow: 0.25rem 0.25rem #4d7100;
  color: #ffffff;
  font: 600 1.25rem/1.5rem Nova, sans-serif;
  padding: 0.75rem;
  text-align: center;
  white-space: normal;
  width: 100%;
}

.SubmitAction:hover {
  background-color: color(#81bc00 shade(10%));
}

.SubmitAction:active {
  box-shadow: none;
  position: relative;
  top: 0.25rem;
}
