@import "../custom-properties.css";

/** @define Teaser; */

.Teaser {
  background-color: var(--white);
  border-radius: 0.25rem;
  box-shadow: 0 0 0 1px color-mod(var(--black) tint(80%)),
    inset 0 -0.25rem color-mod(var(--black) alpha(20%));
  color: var(--black);
  display: block;
  text-decoration: none;

  &:active {
    box-shadow: 0 0 0 1px color-mod(var(--black) tint(80%));
    position: relative;
    top: 0.25rem;
  }
}

.Teaser-image {
  border-radius: 0.25rem;
  display: block;
  max-width: 100%;
}

.Teaser-text {
  padding: 1.25rem;
}

.Teaser-title {
  color: var(--green);
  font: 600 var(--type-5) proxima-nova, sans-serif;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.Teaser-meta {
  color: color-mod(var(--black) tint(30%));
  font: 300 var(--type-0) system-ui;
  margin-top: 0.5rem;
}

.Teaser-children {
  color: var(--black);
  font: 300 var(--type-1) system-ui;
  margin-top: 1rem;
}
