/** @define ContentWithMenu; weak; */

@media (min-width: 48rem) {
  .ContentWithMenu {
    display: flex;
    flex-wrap: wrap;

    & > *:nth-child(1) {
      flex: 0 0 100%;
    }

    & > *:nth-child(2) {
      flex: 0 0 13rem;
      padding: 1rem 0 0;
    }

    & > *:nth-child(3) {
      flex: 1;
      padding: 0 0 0 1.5rem;
    }
  }
}
