@import "../custom-properties.css";

/** @define Cite; */

.Cite {
  color: color-mod(var(--black) tint(30%));
  font: 300 var(--type--1) system-ui;
  max-width: 36rem;

  &:not(:first-child) {
    margin-top: 1.25rem;
  }
}

.Cite-inner {
  font-style: normal;
}
