@import "../custom-properties.css";

/** @define Pagination; */

.Pagination {
  max-width: 20rem;

  &:not(:first-child) {
    margin-top: 2.5rem;
  }
}

.Pagination-item {
  list-style: none;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.Pagination-link {
  color: color-mod(var(--brand-colour) shade(20%));
  display: block;
  padding-left: 1.25rem;
  position: relative;

  &::before {
    text-decoration: underline; /* ie11 fix */
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  &::before {
    content: "‹";
    display: inline-block;
    font: 300 var(--type-8) var(--brand-font);
    left: 0;
    line-height: 0;
    position: absolute;
    text-decoration: none;
    top: 0.75rem;
  }

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: var(--visited-link-colour);
  }
}

.Pagination-link--next {
  &::before {
    content: "›";
  }
}

.Pagination-text {
  font: 600 var(--type-2) var(--brand-font);
}

.Pagination-label {
  display: block;
  font: 300 var(--type-0) var(--body-font);
}
