@import "../../custom-properties.css";

/** @define Pagination; */

.Pagination-item {
  list-style: none;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.Pagination-link {
  display: block;
  padding-left: 1rem;
  position: relative;

  &::before {
    background: transparent url("./triangle.svg") 0 0 no-repeat;
    background-size: 0.75rem 0.75rem;
    content: "";
    height: 1rem;
    left: 0;
    position: absolute;
    top: 0.5rem;
    width: 1rem;
  }
}

.Pagination-link--next {
  &::before {
    transform: rotate(180deg) translate(-0.75rem, 0.25rem);
    transform-origin: left;
  }
}

.Pagination-text {
  font: 700 var(--type-2) Quicksand, sans-serif;
}

.Pagination-label {
  font: 300 var(--type-0) system-ui;
}
