@import "../custom-properties.css";

/** @define ContentsMenu; */

.ContentsMenu {
  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.ContentsMenu-title {
  color: var(--black);
  font: 300 var(--type-0) system-ui;
}

.ContentsMenu-items {
  margin-top: 0.5rem;
}

.ContentsMenu-item {
  list-style: none;
  margin-top: 0.25rem;
}

.ContentsMenu-link {
  color: color-mod(var(--green) shade(20%));
  font: 600 var(--type-0) system-ui;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: color-mod(var(--purple) shade(20%));
  }
}

.ContentsMenu-item--level2 {
  &::before {
    content: "– ";
  }

  & .ContentsMenu-link {
    font-weight: 300;
  }
}

.ContentsMenu-item--level3 {
  &::before {
    content: "– ";
    padding-left: 0.75rem;
  }

  & .ContentsMenu-link {
    font: 300 var(--type--1) system-ui;
  }
}

@media (min-width: 48rem) and (min-height: 42rem) {
  .ContentsMenu {
    height: 100%;
    position: sticky;
    top: 1rem;
  }
}
