@import "../custom-properties.css";

/** @define BackLink; */

.BackLink {
  color: color-mod(var(--brand-colour) shade(20%));
  display: inline-block;
  font: 300 var(--type-0) var(--body-font);
  padding: 0.25rem 0;

  &::before {
    text-decoration: underline; /* ie11 fix */
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  &::before {
    content: "‹";
    display: inline-block;
    font: 300 var(--type-6) var(--brand-font);
    line-height: 0;
    margin-right: 0.5rem;
    position: relative;
    text-decoration: none;
    top: 0.125rem;
  }

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: var(--visited-link-colour);
  }

  &:not(:first-child) {
    margin-top: 1.25rem;
  }
}
