@import "../custom-properties.css";

/** @define BackLink; */

.BackLink {
  color: color-mod(var(--green) shade(20%));
  display: inline-block;
  font: 300 var(--type-0) system-ui;
  padding-left: 1rem;
  position: relative;

  &::before {
    text-decoration: underline; /* ie11 fix */
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  &::before {
    content: "‹";
    display: inline-block;
    font: 300 var(--type-6) proxima-nova, sans-serif;
    left: 0;
    line-height: 0;
    margin-top: 0.125rem;
    position: absolute;
    text-decoration: none;
    top: 0.5rem;
  }

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: color-mod(var(--purple) shade(20%));
  }
}
