@import "../../custom-properties.css";

/** @define UnorderedListItem; */

.UnorderedListItem {
  font: 300 var(--type-0) system-ui;
  list-style: none;
  margin-left: -1rem;
  padding-left: 1.25rem;
  position: relative;

  &::before {
    background-color: var(--green);
    content: "";
    display: block;
    height: 0.5rem;
    left: 0;
    position: absolute;
    top: 0.55rem;
    width: 0.5rem;
  }

  &:not(:first-child) {
    margin-top: 0.75rem;
  }
}
