@import "../custom-properties.css";

/** @define ErrorSummary; */

.ErrorSummary {
  box-shadow: inset 0 0 0 0.25rem var(--red);
  padding: 1rem;
}

.ErrorSummary-heading {
  font: 600 var(--type-3) system-ui;
}

.ErrorSummary-items {
  list-style: none;
  margin-top: 0.5rem;
}

.ErrorSummary-item {
  &:not(:first-child) {
    margin-top: 0.5rem;
  }
}

.ErrorSummary-link {
  color: var(--red);
  font: 600 var(--type-0) system-ui;

  &:hover {
    text-decoration: none;
  }
}
