@import "../../custom-properties.css";

/** @define Quote; */

.Quote {
  color: var(--green);
}

.Quote-media {
  max-width: 20rem;
  padding: 0 1.5rem;
}

.Quote-image {
  border-radius: 50%;
  display: block;
  max-width: 100%;
}

.Quote-text {
  box-shadow: inset 0.25rem 0 0 currentColor;
  padding-left: 1.5rem;
}

.Quote-children {
  font: 600 var(--type-4) proxima-nova, sans-serif;
  padding-top: 4.5rem;
  position: relative;

  &::after {
    content: "”";
  }

  &::before {
    content: "“";
    font: 600 var(--type-20) proxima-nova, sans-serif;
    left: -0.5rem;
    line-height: 0;
    margin-top: 5rem;
    position: absolute;
    top: -0.5rem;
  }
}

.Quote-cite {
  display: block;
  margin-top: 1rem;
}

.Quote-role {
  font: 300 var(--type-2) system-ui;
}

.Quote-name {
  font: 600 var(--type-2) system-ui;
}

.Quote--orange {
  color: var(--orange);
}

.Quote--pink {
  color: var(--pink);
}

.Quote--purple {
  color: var(--purple);
}

.Quote--teal {
  color: var(--teal);
}

@media (min-width: 56rem) {
  .Quote {
    display: flex;
  }

  .Quote-media {
    flex: 0 0 20rem;
    margin-right: 1.5rem;
  }
}
