@import "../../custom-properties.css";

/** @define SubmitSearchControl; */

.SubmitSearchControl-commands {
  display: flex;
  flex-direction: row-reverse;
}

.SubmitSearchControl-details {
  display: none;
}

.SubmitSearchControl-details--active {
  background: var(--white);
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.SubmitSearchControl-form {
  display: flex;
  height: 3rem;
  margin-top: 1rem;
}

.SubmitSearchControl-input {
  appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px var(--black),
    inset 0.25rem 0.25rem color(var(--black) tint(80%));
  display: block;
  flex: 1;
  font: 300 var(--type-2)/1.75rem system-ui;
  padding: 0.5rem 0.75rem;
}

.SubmitSearchControl-button {
  align-items: center;
  appearance: none;
  background: var(--green);
  border: none;
  border-radius: 0;
  box-shadow: 0.25rem 0.25rem color(var(--green) shade(40%));
  display: flex;
  flex: 0 0 3rem;
  justify-content: center;
  margin-left: 0.5rem;
  white-space: normal;
}

.SubmitSearchControl-button:hover {
  background-color: color(var(--green) shade(10%));
}

.SubmitSearchControl-button:active {
  box-shadow: none;
  position: relative;
  top: 0.25rem;
}

.SubmitSearchControl-buttonSvg {
  display: block;
}

@media (min-width: 56rem) {
  .SubmitSearchControl-commands {
    display: none;
  }

  .SubmitSearchControl-details {
    display: block;
  }

  .SubmitSearchControl-form {
    margin-top: 0;
  }
}
