@import "../../custom-properties.css";

/** @define SubmitSearchControl; */

.SubmitSearchControl-commandLink {
  display: block;
  height: 1.55rem;
}

.SubmitSearchControl-logoInner {
  display: none;
  height: 3rem;
  margin: 1rem 1rem 2rem;
  width: 6.5rem;
}

.SubmitSearchControl-command {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.SubmitSearchControl-command--close {
  display: none;
}

.SubmitSearchControl--js {
  & .SubmitSearchControl-details {
    display: none;
  }
  & .SubmitSearchControl-details--active {
    background: var(--white);
    bottom: 0;
    display: block;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

    & .SubmitSearchControl-logoInner {
      display: block;
    }

    & .SubmitSearchControl-command--close {
      display: block;
    }

    & .SubmitSearchControl-form {
      margin: 1rem 1rem;
    }
  }
}

.SubmitSearchControl-form {
  display: flex;
  height: 3rem;
  /* margin-top: 1rem; */
}

.SubmitSearchControl-input {
  appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px var(--black),
    inset 0.25rem 0.25rem color-mod(var(--black) tint(80%));
  display: block;
  flex: 1;
  font: 300 var(--type-1) / 1 system-ui;
  padding: 0.5rem 0.75rem;
}

.SubmitSearchControl-button {
  align-items: center;
  appearance: none;
  background: var(--green);
  border: none;
  border-radius: 0;
  box-shadow: 0.25rem 0.25rem color-mod(var(--green) shade(40%));
  display: flex;
  flex: 0 0 3rem;
  justify-content: center;
  margin-left: 0.5rem;
  white-space: normal;

  &:hover {
    background-color: color-mod(var(--green) shade(10%));
  }

  &:active {
    box-shadow: none;
    position: relative;
    top: 0.25rem;
  }
}

.SubmitSearchControl-buttonSvg {
  display: block;
}

@media (min-width: 48rem) {
  .SubmitSearchControl-logoInner {
    margin: 1.5rem 2rem 2rem;
    height: 3.5rem;
    width: 8rem;
  }

  .SubmitSearchControl-command {
    right: 2rem;
    top: 2rem;
  }
  .SubmitSearchControl--js {
    & .SubmitSearchControl-details--active {
      & .SubmitSearchControl-form {
        margin: 2rem 2rem;
      }
    }
  }
}

@media (min-width: 54rem) {
  .SubmitSearchControl-command {
    display: none !important;
  }

  .SubmitSearchControl-details {
    display: block !important;
  }

  .SubmitSearchControl-form {
    margin-top: 0;
  }
}
