@import "../../custom-properties.css";

/** @define Figure; */

.Figure {
  display: block;
}

.Figure-children {
  display: block;
  position: relative;
}

.Figure-children::before {
  content: "";
  display: block;
  padding-bottom: 56.25%; /* stylelint-disable-line declaration-property-unit-whitelist */
  width: 100%;
}

.Figure-childrenInner {
  border: none;
  bottom: 0;
  height: 100%;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.Figure-caption {
  box-shadow: inset 0.25rem 0 0 var(--green);
  color: var(--green);
  font: 300 var(--type-0)/1.5rem system-ui;
  margin-top: 0.5rem;
  padding-left: 0.75rem;
}
