@import "../custom-properties.css";

/** @define Figure; */

.Figure {
  display: block;

  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.Figure-caption {
  background: color-mod(var(--black) tint(90%));
  display: block;
  font: 300 var(--type--1) var(--body-font);
  font-variant-numeric: tabular-nums;
  margin-top: 1rem;
  padding: 0 0.5rem;
}

.Figure-secondaryCaption {
  display: block;
}

.Figure-tertiaryCaption {
  display: block;
}
