@import "../custom-properties.css";

/** @define ProminentTeaser; */

.ProminentTeaser {
  background-color: var(--black);
  border-radius: 0.25rem;
  box-shadow: inset 0 0.25rem currentColor;
  color: var(--white);
  display: block;
}

.ProminentTeaser-image {
  display: block;
  max-width: 100%;
}

.ProminentTeaser-text {
  padding: 1.25rem;
}

.ProminentTeaser-meta {
  color: color-mod(var(--white) shade(30%));
  font: 300 var(--type-0) system-ui;
  margin-top: 0.5rem;
}

.ProminentTeaser-heading {
  color: var(--white);
  font: 600 var(--type-5) proxima-nova, sans-serif;
}

.ProminentTeaser-children {
  color: var(--white);
  font: 300 var(--type-0) system-ui;
  margin-top: 1rem;
}

.ProminentTeaser-link {
  margin-top: 1.5rem;

  @media (min-width: 30rem) {
    display: inline-block;
  }
}

.ProminentTeaser--orange {
  color: var(--orange);
}

.ProminentTeaser--pink {
  color: var(--pink);
}

.ProminentTeaser--purple {
  color: var(--purple);
}

.ProminentTeaser--teal {
  color: var(--teal);
}
