@import "../../custom-properties.css";

/** @define Menu; */

.Menu {
  box-shadow: inset 0 -1px 0 0 color-mod(var(--black) tint(90%));
}

.Menu-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.Menu-item {
  flex: 1;
}

.Menu-link {
  color: var(--black);
  display: block;
  font: 300 var(--type-3) Nova, sans-serif;
  padding: 0.25rem 0 0.75rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    box-shadow: inset 0 -0.25rem 0 0 var(--orange);
    color: var(--orange);
  }

  &:active {
    box-shadow: inset 0 -0.25rem 0 0 var(--orange);
    color: var(--orange);
  }
}

.Menu--revealing {
  box-shadow: none;

  & .Menu-details {
    display: none;
  }

  & .Menu-details--active {
    background: var(--white);
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  & .Menu-items {
    box-shadow: inset 0 1px 0 0 color-mod(var(--black) tint(90%));
    display: block;
    margin-top: 1rem;
  }

  & .Menu-item {
    box-shadow: inset 0 -1px 0 0 color-mod(var(--black) tint(90%));
  }

  & .Menu-link {
    padding: 0.75rem;
  }
}

@media (min-width: 54rem) {
  .Menu--revealing {
    box-shadow: inset 0 -1px 0 0 color-mod(var(--black) tint(90%));

    & .Menu-command {
      display: none;
    }

    & .Menu-details {
      display: block;
      width: 100%;
    }

    & .Menu-items {
      box-shadow: none;
      display: flex;
    }
  }

  .Menu-item {
    flex: 1;
  }
}
