@import "../../custom-properties.css";

/** @define ChoiceControl; */

.ChoiceControl {
  align-items: center;
  display: flex;
}

.ChoiceControl-label {
  font: 300 var(--type-2) system-ui;
  margin-left: 1rem;
}
