@import "../../custom-properties.css";

/** @define Command; */

.Command {
  align-items: center;
  appearance: none;
  background: var(--white);
  border: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px var(--black),
    0.25rem 0.25rem color-mod(var(--black) tint(60%));
  color: var(--black);
  display: flex;
  font: 600 var(--type-2) Nova, sans-serif;
  justify-content: center;
  min-width: 3rem;
  padding: 0.75rem;
  white-space: normal;

  &:hover {
    background-color: color-mod(var(--white) shade(10%));
  }

  &:active {
    box-shadow: inset 0 0 0 1px var(--black);
    position: relative;
    top: 0.125rem;
  }
}
