@import "../../custom-properties.css";

/** @define Command; */

.Command {
  align-items: center;
  appearance: none;
  background: var(--black);
  border: none;
  border-radius: 0;
  box-shadow: 0.25rem 0.25rem color-mod(var(--black) tint(60%));
  color: var(--white);
  display: flex;
  font: 600 var(--type-2)/1.5rem Nova, sans-serif;
  justify-content: center;
  min-width: 3rem;
  padding: 0.75rem;
  white-space: normal;
}

.Command:hover {
  background-color: color-mod(var(--black) shade(10%));
}

.Command:active {
  box-shadow: none;
  position: relative;
  top: 0.125rem;
}
