@import "../../custom-properties.css";

/** @define Command; */

.Command {
  align-items: center;
  appearance: none;
  background: var(--white);
  border: none;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px color-mod(var(--black) tint(40%)),
    0.125rem 0.125rem 1px color-mod(var(--black) alpha(15%));
  color: var(--black);
  display: flex;
  font: 600 var(--type-2) proxima-nova, sans-serif;
  justify-content: center;
  min-height: 3rem;
  min-width: 3rem;
  padding: 0.5rem 0.75rem;
  white-space: normal;

  &:hover {
    background-color: color-mod(var(--white) shade(10%));
  }

  &:active {
    box-shadow: inset 0 0 0 1px var(--black);
    position: relative;
    top: 0.125rem;
  }
}

.Command--compact {
  font: 600 var(--type-0) proxima-nova, sans-serif;
}
