@import "../../custom-properties.css";

/** @define CurrencyControl; */

.CurrencyControl-label {
  display: block;
  font: 600 var(--type-3)/1.75rem system-ui;
}

.CurrencyControl-hint {
  color: color-mod(var(--black) tint(30%));
  font: 300 var(--type-0)/1.5rem system-ui;
}

.CurrencyControl-validation {
  margin-top: 0.5rem;
}

.CurrencyControl-validationInner {
  color: var(--red);
  font: 600 var(--type-0)/1.5rem system-ui;
}

.CurrencyControl-prefixAndElement {
  display: flex;
  margin-top: 0.5rem;
}

.CurrencyControl-prefix {
  align-items: center;
  background: color-mod(var(--black) tint(90%));
  display: flex;
  flex: 0 0 2.5rem;
  font: 600 var(--type-2)/1.75rem system-ui;
  justify-content: center;
}

.CurrencyControl-element {
  -moz-appearance: textfield; /* stylelint-disable-line property-no-vendor-prefix */
  appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px var(--black),
    inset 0.25rem 0.25rem color-mod(var(--black) tint(80%));
  font: 300 var(--type-2)/1.75rem system-ui;
  max-width: 100%;
  padding: 0.5rem 0.75rem;
  width: 8rem;
}

.CurrencyControl-element::-webkit-inner-spin-button,
.CurrencyControl-element::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

/**
 * invalid
 */

.CurrencyControl--invalid {
  box-shadow: inset 0.25rem 0 0 var(--red);
  padding-left: 1rem;
}

.CurrencyControl--invalid .CurrencyControl-element {
  box-shadow: inset 0 0 0 1px var(--red),
    inset 0.25rem 0.25rem color-mod(var(--red) tint(80%));
}
