@import "../../custom-properties.css";

/** @define Fact; */

.Fact {
  box-shadow: inset 0.25rem 0 0 currentColor;
  color: var(--green);
  padding-left: 1.5rem;
}

.Fact-children {
  font: 600 var(--type-12) proxima-nova, sans-serif;
}

.Fact-label {
  font: 300 var(--type-2) system-ui;
}

.Fact--orange {
  color: var(--orange);
}

.Fact--pink {
  color: var(--pink);
}

.Fact--purple {
  color: var(--purple);
}

.Fact--teal {
  color: var(--teal);
}
