@import "../custom-properties.css";

/** @define Hero; */

.Hero {
  background-color: var(--brand-colour);
  color: var(--white);
  margin: -2rem -1rem 0;

  @media (min-width: 48rem) {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.Hero-inner {
  padding: 2rem 1rem;

  @media (min-width: 48rem) {
    padding: 3rem 2rem;
  }
}

.Hero-children {
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.Hero--withImage {
  background-position: top right;
  background-size: cover;
  height: 50vmin;
  margin-bottom: 4rem;
  max-height: 30rem;
  min-height: 20rem;
  position: relative;

  & .Hero-inner {
    background-color: var(--brand-colour);
    bottom: -4rem;
    left: 1rem;
    max-width: 30rem;
    padding: 1.5rem;
    position: absolute;
    right: 1rem;

    @media (min-width: 48rem) {
      left: 2rem;
    }
  }
}
