@import "../custom-properties.css";

/** @define Hero; */

.Hero {
  background-color: var(--brand-colour);
  background-position: top center;
  background-size: cover;
  color: var(--white);
  margin: -2rem -1rem 0;
  position: relative;

  @media (min-width: 48rem) {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.Hero-inner {
  max-width: 48rem;
  padding: 2rem 1rem;

  @media (min-width: 48rem) {
    padding: 3rem 2rem;
  }
}

.Hero-children {
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.Hero--withImage {
  height: 60vmin;
  min-height: 20rem;

  & .Hero-inner {
    bottom: -2rem;
    left: 1rem;
    position: absolute;
    right: 1rem;
  }

  @media (min-width: 48rem) {
    height: 60vmin;

    & .Hero-inner {
      left: 2rem;
      right: auto;
    }
  }
}
