@import "../custom-properties.css";

/** @define Caption; */

.Caption {
  display: block;
}

.Caption-label {
  background-color: color-mod(var(--black) tint(95%));
  color: var(--black);
  font: 300 var(--type-0) system-ui;
  padding: 0.5rem 0.75rem;
}
