@import "../../custom-properties.css";

/** @define Caption; */

.Caption {
  display: block;
}

.Caption-children {
  display: block;
  position: relative;
}

.Caption-children::before {
  content: "";
  display: block;
  padding-bottom: 56.25%; /* stylelint-disable-line declaration-property-unit-whitelist */
  width: 100%;
}

.Caption-childrenInner {
  border: none;
  bottom: 0;
  height: 100%;
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.Caption-label {
  background-color: color-mod(var(--black) tint(90%));
  color: var(--black);
  font: 300 var(--type-0)/1.5rem system-ui;
  padding: 0.5rem 0.75rem;
}
