@import "../custom-properties.css";

/** @define Callouts; weak; */

/* Uses flex fallback for IE11 */

.Callouts {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;

  &:not(:first-child) {
    margin-top: 2.5rem;
  }

  & > * {
    flex: 0 0 20rem;
    margin: 1rem;
  }

  @supports (display: grid) {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    margin: 0;

    & > * {
      margin: 0;
    }
  }
}
