@import "../custom-properties.css";

/** @define ComponentIndexes */

.ComponentIndexes {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  margin-top: 1.5rem;
  max-width: 80rem;
}

@media (min-width: 58rem) {
  .ComponentIndexes {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}
