@import "../../custom-properties.css";

/** @define SubmitControls; */

.SubmitControls-summary {
  box-shadow: inset 0 0 0 0.25rem var(--red);
  padding: 1rem;
}

.SubmitControls-validation {
  font: 600 var(--type-3)/1.75rem system-ui;
}

.SubmitControls-validationItems {
  list-style: none;
  margin-top: 0.5rem;
}

.SubmitControls-validationItem:not(:first-child) {
  margin-top: 0.5rem;
}

.SubmitControls-validationItemLink {
  color: var(--red);
  font: 600 var(--type-0)/1.5rem system-ui;
}

.SubmitControls-controls:not(:first-child) {
  margin-top: 2rem;
}

.SubmitControls-submit {
  margin-top: 1rem;
}
