@import "../custom-properties.css";

/** @define BulletedList; */

.BulletedList {
  font: 300 var(--type-0) system-ui;
  max-width: 46rem;
  padding-left: 1rem;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}
