/** @define Swatches; */

.Swatches {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  margin-top: 1.5rem;
  max-width: 32rem;
}

.Swatches-swatchGroup {
  list-style: none;
  margin: 0;
}
