@import "../custom-properties.css";

/** @define Confirmation; */

.Confirmation {
  background-color: var(--brand-colour);
  color: var(--white);
  max-width: 36rem;
  padding: 2rem 1rem;
  text-align: center;

  &:not(:first-child) {
    margin-top: 2.5rem;
  }
}

.Confirmation-inner {
  margin: 0 auto;
  max-width: 36rem;
}

.Confirmation-reference {
  display: block;
}
