@import "../custom-properties.css";

/** @define SkipLink; */

.SkipLink {
  color: var(--black);
  display: block;
  font: 300 var(--type-0) var(--body-font);
  left: -100vw;
  margin-bottom: 0.75rem;
  padding: 0.5rem 2rem;
  position: absolute;
  text-align: center;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    background-color: var(--focus-colour);
    position: static;
  }
}
