@import "../custom-properties.css";

/** @define Code; */

.Code {
  font: 400 var(--type-1) monospace;
  line-height: inherit;
}

.html {
  padding-top: 1rem;
  white-space: pre-wrap;
  word-break: break-all;
}