@import "../../custom-properties.css";

/** @define Title; */

.Title {
  font: 600 var(--type-8)/3rem Nova, sans-serif;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

@media (min-width: 40rem) {
  .Title {
    font-size: var(--type-9);
    line-height: 3.5rem;
  }
}
