@import "../custom-properties.css";

/** @define Title; */

.Title {
  font: 600 var(--type-8) proxima-nova, sans-serif;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  @media (min-width: 40rem) {
    font: 600 var(--type-9) proxima-nova, sans-serif;
  }
}
