@import "../custom-properties.css";

/** @define SignpostLink; */

.SignpostLink {
  color: var(--green);
  display: inline-block;
  font: 600 var(--type-2) proxima-nova, sans-serif;

  &::after {
    text-decoration: underline; /* ie11 fix */
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  &::after {
    content: "›";
    display: inline-block;
    font: 300 var(--type-8) proxima-nova, sans-serif;
    left: 0.5rem;
    line-height: 0;
    position: relative;
    text-decoration: none;
    top: 0.25rem;
  }

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: var(--purple);
  }

  &:not(:first-child) {
    margin-top: 1.25rem;
  }
}

.SignpostLink--inverted {
  color: var(--white);

  &:visited {
    color: var(--white);
  }
}
