@import "../custom-properties.css";

/** @define SignpostLink; */

.SignpostLink {
  &:not(:first-child) {
    margin-top: 0.5rem;
  }
}

.SignpostLink-link {
  color: var(--green);
  display: inline-block;
  font: 600 var(--type-2) proxima-nova, sans-serif;
  position: relative;
  text-align: center;

  &::after {
    text-decoration: underline; /* ie11 fix */
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  &::after {
    content: "›";
    font: 300 var(--type-8) proxima-nova, sans-serif;
    line-height: 0;
    margin: 0.75rem 0 0 0.5rem;
    position: absolute;
    text-decoration: none;
    top: 0.125rem;
  }

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: var(--purple);
  }

  &:not(:first-child) {
    margin-top: 1.25rem;
  }
}

.SignpostLink-link--inverted {
  color: var(--white);

  &:visited {
    color: var(--white);
  }
}
