@import "../custom-properties.css";

/** @define SignpostLink; */

.SignpostLink {
  color: var(--brand-colour);
  display: inline-block;
  font: 600 var(--type-2) var(--brand-font);
  padding: 0.25rem 0;

  &::after {
    text-decoration: underline; /* ie11 fix */
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  &::after {
    content: "›";
    display: inline-block;
    font: 300 var(--type-8) var(--brand-font);
    line-height: 0;
    margin-left: 0.5rem;
    position: relative;
    text-decoration: none;
    top: 0.25rem;
  }

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: var(--visited-colour);
  }

  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.SignpostLink--inverted {
  color: var(--white);

  &:visited {
    color: var(--white);
  }
}
