@import "../custom-properties.css";

/** @define Label; */

.Label {
  display: block;
  font: 600 var(--type-3) system-ui;
  max-width: 36rem;
}

.Label--inlined {
  font: 300 var(--type-2) system-ui;
}
