/** @define Contents; weak; */

.Contents {
  margin-top: 2rem;

  @media (min-width: 48rem) {
    display: grid;
    grid-gap: 2.5rem;
    grid-template-columns: 16rem 1fr;

    & > * {
      grid-column: 2;

      &:nth-child(1) {
        grid-column: 1;
      }
    }
  }
}
