@import "../../custom-properties.css";

/** @define TypeFigures; */

.TypeFigures-figure--slotMinus2 {
  font: 300 var(--type--2) system-ui;
}

.TypeFigures-figure--slotMinus1 {
  font: 300 var(--type--1) system-ui;
}

.TypeFigures-figure--slot0 {
  font: 300 var(--type-0) system-ui;
}

.TypeFigures-figure--slot1 {
  font: 300 var(--type-1) system-ui;
}

.TypeFigures-figure--slot2 {
  font: 300 var(--type-2) system-ui;
}

.TypeFigures-figure--slot3 {
  font: 300 var(--type-3) system-ui;
}

.TypeFigures-figure--slot4 {
  font: 300 var(--type-4) system-ui;
}

.TypeFigures-figure--slot5 {
  font: 300 var(--type-5) system-ui;
}

.TypeFigures-figure--slot6 {
  font: 300 var(--type-6) system-ui;
}

.TypeFigures-figure--slot7 {
  font: 300 var(--type-7) system-ui;
}
