/** @define Layout */

.Layout-main {
  display: block;
  margin-top: 1.5rem;
  padding: 0 1rem;
}

.Layout-footer {
  margin-top: 6rem;
}

@media (min-width: 48rem) {
  .Layout-main {
    padding: 0 2rem;
  }
}
