@import "../../custom-properties.css";

/** @define AttentionGrabbingQuote; */

.AttentionGrabbingQuote {
  background-color: var(--green);
  color: var(--white);
  padding: 2rem 1rem;
  text-align: center;
  max-width: 46rem;
}

.AttentionGrabbingQuote-children {
  font: 300 var(--type-4) proxima-nova, sans-serif;
  margin: 0 auto;
  max-width: 43rem;
  padding-top: 6rem;
  position: relative;

  &::after {
    content: "”";
  }

  &::before {
    content: "“";
    display: block;
    font: 600 var(--type-20) proxima-nova, sans-serif;
    left: 0;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 5rem;
  }
}

.AttentionGrabbingQuote-cite {
  display: block;
  margin-top: 1rem;
}

.AttentionGrabbingQuote-role {
  font: 300 var(--type-1) system-ui;
}

.AttentionGrabbingQuote-name {
  font: 600 var(--type-1) system-ui;
}

.AttentionGrabbingQuote--black {
  background-color: var(--black);
}

.AttentionGrabbingQuote--orange {
  background-color: var(--orange);
}

.AttentionGrabbingQuote--pink {
  background-color: var(--pink);
}

.AttentionGrabbingQuote--purple {
  background-color: var(--purple);
}

.AttentionGrabbingQuote--teal {
  background-color: var(--teal);
}

@media (min-width: 32rem) {
  .AttentionGrabbingQuote {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
