@import "../../custom-properties.css";

/** @define Filter; */

.Filter {
  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.Filter-details {
  display: none;
}

.Filter-details--active {
  display: block;
}

.Filter-children {
  margin-top: 1rem;
}
