@import "../../custom-properties.css";

/** @define Card; */

.Card {
  box-shadow: inset 0 0 0 2px var(--black),
    0.25rem 0.25rem color-mod(var(--black) tint(40%));
  display: block;
  text-decoration: none;
}

.Card-image {
  display: block;
  max-width: 100%;
  padding: 2px; /* stylelint-disable-line declaration-property-unit-whitelist */
}

.Card-text {
  padding: 1rem;
}

.Card-title {
  font: 500 var(--type-5) Vision, sans-serif;
  text-decoration: underline;
}

.Card-meta {
  color: color-mod(var(--black) tint(30%));
  font: 300 var(--type-0) system-ui;
  margin-top: 0.5rem;
}

.Card-children {
  color: var(--black);
  font: 300 var(--type-0) system-ui;
  margin-top: 1rem;
}

@media (min-width: 30rem) {
  .Card {
    max-width: 20rem;
  }
}
