@import "../custom-properties.css";

/** @define Topic; */

.Topic {
  color: color-mod(var(--black) tint(30%));
  font: 300 var(--type-3) var(--brand-font);
  margin-bottom: -2.5rem;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}
