@import "../custom-properties.css";

/**
 * Minimal reset
 */

/* stylelint-disable selector-max-universal */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0.25rem solid var(--orange);
  outline-offset: 0;
}

/* stylelint-disable selector-max-type, property-whitelist */
html {
  background: var(--white);
  color: var(--black);
  scroll-behavior: smooth;
}
