@import "../custom-properties.css";

/**
 * Minimal reset
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline: 0.25rem solid var(--yellow);
    outline-offset: 0;
  }
}

:root {
  background: var(--white);
  color: var(--black);
}
