.Navigation {
  padding-top: 1rem;
  position: relative;
}

.Navigation::before {
  background: #a5a5a5;
  content: "";
  height: 0.0625rem;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.Navigation-item {
  list-style: none;
}

.Navigation-link {
  font: 300 1rem/1.5rem system-ui;
}
