@import "../custom-properties.css";

/** @define Trigger; */

.Trigger {
  align-items: center;
  appearance: none;
  background: color-mod(var(--black) tint(80%));
  background-image: linear-gradient(
    var(--white),
    color-mod(var(--black) tint(80%))
  );
  border: none;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 1px var(--black);
  color: var(--black);
  display: flex;
  font: 600 var(--type-2) var(--brand-font);
  justify-content: center;
  min-height: 3.25rem;
  min-width: 3rem;
  padding: 0.5rem 0.75rem;
  white-space: normal;

  &:hover {
    background-image: linear-gradient(
      color-mod(var(--black) tint(80%)),
      color-mod(var(--black) tint(60%))
    );
  }

  &:active {
    background-image: linear-gradient(
      var(--black),
      color-mod(var(--black) tint(30%))
    );
    color: var(--white);
  }

  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}
