@import "../custom-properties.css";

/** @define Heading; */

.Heading {
  font: 600 var(--type-6) var(--brand-font);
  max-width: 36rem;

  &:not(:first-child) {
    margin-top: 2.5rem;
  }

  @media (min-width: 40rem) {
    font: 600 var(--type-7) var(--brand-font);
  }
}
