/** @define Pages */

.Pages-home {
  font: 300 1rem/1.5rem system-ui;
}

.Pages-navigation {
  margin-top: 1rem;
}

.Pages-title {
  margin-top: 1rem;
}

.Pages-typography {
  background: whitesmoke;
  margin-top: 1rem;
  padding: 1rem;
}

.Pages-typographyItem:not(:first-child) {
  margin-top: 1rem;
}

.Pages-typographyItemLabel {
  font: 300 0.875rem/1.5rem system-ui;
}

.Pages-example {
  box-shadow: inset 0 0 0 0.0625rem gainsboro;
  margin-top: 1rem;
  max-width: 22rem;
  padding: 1rem;
}

.Pages-image {
  max-width: 100%;
}

.Pages-scale {
  background: whitesmoke;
  margin-top: 1rem;
  padding: 1rem;
}

.Pages-scaleItem {
  font: 300 1.625rem/2rem Nova, sans-serif;
}

.Pages-scaleItem:not(:first-child) {
  margin-top: 1rem;
}

.Pages-headingOne {
  margin-top: 2rem;
}

.Pages-headingTwo {
  margin-top: 2rem;
}

.Pages-paragraph {
  margin-top: 1rem;
}

.Pages-unorderedList {
  margin-top: 1rem;
}
