@import "../custom-properties.css";

/** @define Pages */

.Pages-designSystemNavigation {
  margin-top: 1rem;
}

.Pages-figures {
  box-shadow: inset 0 0 0 1px color-mod(var(--black) tint(60%));
  margin-top: 1rem;
  max-width: 46rem;
  padding: 1rem;
}

.Pages-figure {
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.Pages-figureCaption {
  background: color-mod(var(--black) tint(90%));
  display: block;
  font: 300 var(--type--1)/1.5rem system-ui;
  font-variant-numeric: tabular-nums;
  margin-top: 1rem;
  padding: 0 0.5rem;
}

.Pages-figureCaption--flush {
  margin: 0;
}

.Pages-figure--positioned {
  position: relative;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.Pages-figure--positioned .Pages-figureCaption {
  bottom: 0;
  left: -3rem;
  margin-top: 0;
  padding: 0;
  position: absolute;
}

.Pages-figureCaptionItem {
  display: block;
  padding: 0 0.5rem;
  position: relative;
  text-align: right;
}

.Pages-figureKey {
  align-items: center;
  background: color-mod(var(--teal) tint(80%));
  color: var(--black);
  display: flex;
  font: 300 var(--type--2)/1rem system-ui;
  font-variant-numeric: tabular-nums;
  left: 3rem;
  position: absolute;
  right: 0;
  z-index: -1;
}

.Pages-figureDemoItem {
  background: color-mod(var(--teal) tint(80%));
  height: 3rem;
  margin-top: 1rem;
}

.Pages-figureDemo--thirds {
  margin: -1rem 0 0 -1rem;

  & .Pages-figureDemoItem {
    margin: 1rem 0 0 1rem;
  }
}

.Pages-figureDemo--constrained {
  & .Pages-figureDemoItem {
    box-shadow: 0.25rem 0.25rem 0 color-mod(var(--teal) tint(20%));
    margin: 0 auto;
    max-width: 28rem;
  }
}

@media (min-width: 44rem) {
  .Pages-figureDemo--thirds {
    display: flex;

    & .Pages-figureDemoItem--first {
      flex: 2 2 auto;
    }

    & .Pages-figureDemoItem--second {
      flex: 1 1 auto;
    }
  }
}

.Pages-example {
  box-shadow: inset 0 0 0 1px color-mod(var(--black) tint(60%));
  margin-top: 1.5rem;
  max-width: 46rem;
  padding: 2.5rem 1rem 1rem;
  position: relative;

  &::before {
    background: color-mod(var(--black) tint(60%));
    color: var(--white);
    content: "Example";
    display: block;
    font-family: system-ui;
    font-size: var(--type--1);
    font-weight: 300;
    left: 0;
    padding: 0.25rem 0.5rem;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 50rem) {
  .Pages-example--full {
    margin-right: calc(-100vw + 48rem);
  }
}

.Pages-swatches {
  margin-top: 1rem;
  max-width: 32rem;
}
