@import "../custom-properties.css";

/** @define ProminentBlockQuote; */

.ProminentBlockQuote {
  background-color: var(--brand-colour);
  color: var(--white);
  padding: 2rem 1rem 3rem;
  text-align: center;

  &:not(:first-child) {
    margin-top: 2.5rem;
  }

  @media (min-width: 32rem) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.ProminentBlockQuote-children {
  font: 300 var(--type-4) var(--brand-font);
  margin: 0 auto;
  max-width: 43rem;
  padding-top: 6rem;
  position: relative;

  &::after {
    content: "”";
  }

  &::before {
    content: "“";
    display: block;
    font: 600 var(--type-20) var(--brand-font);
    left: 0;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 5rem;
  }
}

.ProminentBlockQuote-cite {
  display: block;
  margin-top: 1rem;
}

.ProminentBlockQuote-nameAndRole {
  font: 600 var(--type-2) var(--body-font);
}

.ProminentBlockQuote--black {
  background-color: var(--black);
}

.ProminentBlockQuote--orange {
  background-color: var(--orange);
}

.ProminentBlockQuote--pink {
  background-color: var(--pink);
}

.ProminentBlockQuote--purple {
  background-color: var(--purple);
}

.ProminentBlockQuote--teal {
  background-color: var(--teal);
}
