@import "../custom-properties.css";

/** @define Swatch; */

.Swatch-color {
  border-radius: 50%;
  height: 4rem;
  margin: 0 auto;
  width: 4rem;
}

.Swatch-label {
  color: var(--black);
  font: 600 var(--type-0) var(--body-font);
  margin-top: 0.25rem;
  text-align: center;
}

.Swatch-hex {
  color: var(--black);
  font: 300 var(--type-0) var(--body-font);
  text-align: center;
}

.Swatch-color--bordered {
  box-shadow: inset 0 0 0 1px color-mod(var(--black) tint(60%));
}
