/** @define Swatch; */

.Swatch {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}

.Swatch-label {
  color: #fff;
  font: 600 1rem/1.5rem system-ui;
}

.Swatch-hex {
  color: #fff;
  font: 300 1rem/1.5rem system-ui;
}

/**
 * bordered
 */

.Swatch--bordered {
  box-shadow: inset 0 0 0 1px grey;
}

/**
 * inverted
 */

.Swatch--inverted .Swatch-label {
  color: #1d1d1d;
}

.Swatch--inverted .Swatch-hex {
  color: #1d1d1d;
}

/**
 * primary
 */

.Swatch--primary {
  padding: 1.5rem;
}
