@import "../../custom-properties.css";

/** @define DateInput; */

.DateInput-labelsAndInputs {
  display: grid;
  /* autoprefixer: off */
  grid-gap: 0.5rem 1rem;
  grid-template-columns: 4rem 4rem 6rem;
  margin-top: 0.5rem;
}

.DateInput-input {
  -moz-appearance: textfield; /* stylelint-disable-line property-no-vendor-prefix */
  appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px var(--black),
    inset 0.25rem 0.25rem color-mod(var(--black) tint(80%));
  font: 300 var(--type-2) system-ui;
  grid-row: 2;
  max-width: 100%;
  padding: 0.5rem 0.75rem;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}
