@import "../custom-properties.css";

/** @define DateInput; */

.DateInput-labelsAndInputs {
  display: flex;
  margin-top: 0.5rem;
}

.DateInput-labelsAndInput {
  flex: 0 0 3rem;

  &:not(:first-child) {
    margin-left: 1rem;
  }

  &:nth-child(3) {
    flex-basis: 5rem;
  }
}

.DateInput-input {
  -moz-appearance: textfield; /* stylelint-disable-line property-no-vendor-prefix */
  appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px var(--black),
    inset 0 0.25rem color-mod(var(--black) alpha(20%));
  font: 300 var(--type-2) system-ui;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 100%;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}
