@import "../custom-properties.css";

/** @define NumberedList; */

.NumberedList {
  font: 300 var(--type-0) var(--body-font);
  max-width: 36rem;
  padding-left: 1rem;

  &:not(:first-child) {
    margin-top: 0.75rem;
  }
}
