@import "../custom-properties.css";

/** @define Field; */

.Field {
  max-width: 36rem;

  &:not(:first-child) {
    margin-top: 2.5rem;
  }
}

.Field--errored {
  box-shadow: inset 0.25rem 0 0 var(--error-colour);
  padding-left: 1rem;
}
