@import "../custom-properties.css";

/** @define Example; */

.Example {
  box-shadow: 0 0 0 1px color-mod(var(--black) tint(60%));
  margin-top: 1.5rem;
  max-width: 46rem;
  overflow: hidden;
  padding: 2.5rem 1rem 1rem;
  position: relative;

  &::before {
    background: color-mod(var(--black) tint(60%));
    color: var(--white);
    content: "Example";
    display: block;
    font: 300 var(--type--1) system-ui;
    left: 0;
    line-height: 1.25;
    padding: 0.25rem 0.5rem;
    position: absolute;
    top: 0;
  }
}
