@import "../custom-properties.css";

/** @define Header; */

.Header {
  box-shadow: inset 0 -1px 0 0 color-mod(var(--black) tint(90%));
  padding: 0.5rem 1rem;
  position: relative;

  &::after {
    bottom: 0;
    box-shadow: inset 0 -1px 0 0 color-mod(var(--black) tint(90%));
    content: "";
    height: 1px;
    left: 0;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    position: absolute;
    right: 0;
  }
}

.Header-logo {
  display: block;
  width: 5rem;
}

.Header-logoInner {
  display: block;
  height: auto;
  width: 100%;
}

@media (min-width: 48rem) {
  .Header {
    padding: 1rem 2rem;
  }

  .Header-logo {
    width: 7.5rem;
  }
}
