/*
 * Shared custom properties
 */

:root {
  /* type (1.125 scale / multiples of 4) */
  --type--2: 0.79rem/1rem;
  --type--1: 0.888rem/1.25rem;
  --type-0: 1rem/1.5rem;
  --type-1: 1.125rem/1.625rem;
  --type-2: 1.266rem/1.75rem;
  --type-3: 1.424rem/2rem;
  --type-4: 1.602rem/2rem;
  --type-5: 1.802rem/2.25rem;
  --type-6: 2.027rem/2.75rem;
  --type-7: 2.281rem/3rem;
  --type-8: 2.566rem/3rem;
  --type-9: 2.887rem/3.25rem;
  --type-10: 3.247rem/3.75rem;
  --type-11: 3.653rem/4rem;
  --type-12: 4.11rem/4.5rem;
  --type-20: 10.544rem/11rem;

  /* colors */
  /* stylelint-disable color-no-hex */
  --green: #6aa300;
  --pink: #cc0070;
  --teal: #0099a9;
  --purple: #6e2066;
  --orange: #e86c00;
  --red: #c30000;
  --black: #1d1d1d;
  --white: #fff;
  --yellow: #ffbf47;

  /* site properties */
  --brand-colour: var(--green);
}
