@import "../../custom-properties.css";

/** @define DesignSystemNavigation; */

.DesignSystemNavigation {
  &:not(:first-child) {
    margin-top: 3rem;
  }
}

.DesignSystemNavigation-item {
  list-style: none;
  margin-top: 1rem;
}

.DesignSystemNavigation-link {
  box-shadow: inset 0 -0.25rem 0 0 color-mod(var(--black) tint(90%));
  color: var(--black);
  display: block;
  font: 300 var(--type-3)/1.5rem Nova, sans-serif;
  padding: 0.5rem 0 1rem;
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    box-shadow: inset 0 -0.25rem 0 0 var(--orange);
    color: var(--orange);
  }

  &:active {
    box-shadow: inset 0 -0.25rem 0 0 var(--orange);
    color: var(--orange);
  }
}
