@import "../../custom-properties.css";

/** @define DesignSystemNavigation; */

.DesignSystemNavigation-items {
  display: grid;
  grid-gap: 0.5rem;
}

.DesignSystemNavigation-item {
  list-style: none;
}

.DesignSystemNavigation-link {
  font: 300 var(--type-2)/2.5rem system-ui;
}
