@import "../../custom-properties.css";

/** @define Promos; */

.Promos {
  /* autoprefixer: off */
  display: grid;
  grid-gap: 0 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}
