@import "../custom-properties.css";

/** @define Promos; weak; */

.Promos {
  display: flex;
  flex-wrap: wrap;
  margin: -1.5rem 0 0 -1.5rem;

  & > * {
    flex: 1 1 18rem;
    margin: 1.5rem 0 0 1.5rem;
  }

  &:not(:first-child) {
    margin-top: 0;
  }
}
