@import "../custom-properties.css";

/** @define Promos; weak; */

.Promos {
  display: flex;
  flex-wrap: wrap;
  margin: -0.75rem;
  max-width: 81.5rem;

  & > * {
    flex: 1 1 18rem;
    margin: 0.75rem;
  }

  &:not(:first-child) {
    margin-top: 0;
  }
}
