@import "../../custom-properties.css";

/** @define OfManyChoiceControl; */

.OfManyChoiceControl-fieldset {
  border: none;
}

.OfManyChoiceControl-fieldset:not(:first-child) {
  margin-top: 0.5rem;
}

.OfManyChoiceControl-legend {
  display: block;
  font: 600 var(--type-3)/1.75rem system-ui;
}

.OfManyChoiceControl-hint {
  color: color(var(--black) tint(30%));
  font: 300 var(--type-0)/1.5rem system-ui;
  margin-top: 0.5rem;
}

.OfManyChoiceControl-validation {
  margin-top: 0.5rem;
}

.OfManyChoiceControl-validationInner {
  color: var(--red);
  font: 600 var(--type-0)/1.5rem system-ui;
}

.OfManyChoiceControl-choiceControls {
  margin-top: 1rem;
}

.OfManyChoiceControl-choiceControl {
  margin-top: 1rem;
}

/**
 * errored
 */

.OfManyChoiceControl--errored {
  box-shadow: inset 0.25rem 0 0 var(--red);
  padding-left: 1rem;
}

.OfManyChoiceControl--errored .OfManyChoiceControl-element {
  border-color: var(--red);
  box-shadow: inset 0.25rem 0.25rem color(var(--red) tint(80%));
}
