@import "../../custom-properties.css";

/** @define OfManyChoiceControl; */

.OfManyChoiceControl-fieldset {
  border: none;

  &:not(:first-child) {
    margin-top: 0.5rem;
  }
}

.OfManyChoiceControl-legend {
  display: block;
  font: 600 var(--type-3) system-ui;
}

.OfManyChoiceControl-hint {
  color: color-mod(var(--black) tint(30%));
  font: 300 var(--type-0) system-ui;
  margin-top: 0.5rem;
}

.OfManyChoiceControl-validation {
  margin-top: 0.5rem;
}

.OfManyChoiceControl-validationInner {
  color: var(--red);
  font: 600 var(--type-0) system-ui;
}

.OfManyChoiceControl-choiceControls {
  margin-top: 1rem;
}

.OfManyChoiceControl-choiceControl {
  margin-top: 0.75rem;
}

.OfManyChoiceControl--invalid {
  box-shadow: inset 0.25rem 0 0 var(--red);
  padding-left: 1rem;

  & .OfManyChoiceControl-element {
    box-shadow: inset 0.25rem 0.25rem color-mod(var(--red) tint(80%));
  }
}
