@import "../custom-properties.css";

/** @define Section; */

.Section {
  display: block;
  margin: 0 -1rem;
  padding: 1.5rem 1rem 2rem;

  &:nth-of-type(even) {
    background: color-mod(var(--black) tint(95%));
  }

  @media (min-width: 48rem) {
    margin: 0 -2rem;
    padding: 2.5rem 2rem;
  }
}
