@import "../../custom-properties.css";

/** @define SinglelineTextControl; */

.SinglelineTextControl-label {
  display: block;
  font: 600 var(--type-3) system-ui;
}

.SinglelineTextControl-hint {
  color: color-mod(var(--black) tint(30%));
  font: 300 var(--type-0) system-ui;
}

.SinglelineTextControl-validation {
  margin-top: 0.5rem;
}

.SinglelineTextControl-validationInner {
  color: var(--red);
  font: 600 var(--type-0) system-ui;
}

.SinglelineTextControl-element {
  appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px var(--black),
    inset 0.25rem 0.25rem color-mod(var(--black) tint(80%));
  font: 300 var(--type-2) system-ui;
  margin-top: 0.5rem;
  max-width: 100%;
  padding: 0.5rem 0.75rem;
}

.SinglelineTextControl--invalid {
  box-shadow: inset 0.25rem 0 0 var(--red);
  padding-left: 1rem;

  & .SinglelineTextControl-element {
    box-shadow: inset 0 0 0 1px var(--red),
      inset 0.25rem 0.25rem color-mod(var(--red) tint(80%));
  }
}
