@import "../../custom-properties.css";

/** @define SinglelineTextControl; */

.SinglelineTextControl-label {
  display: block;
  font: 600 var(--type-3)/1.75rem system-ui;
}

.SinglelineTextControl-hint {
  color: color(var(--black) tint(30%));
  font: 300 var(--type-0)/1.5rem system-ui;
}

.SinglelineTextControl-validation {
  margin-top: 0.5rem;
}

.SinglelineTextControl-validationInner {
  color: var(--red);
  font: 600 var(--type-0)/1.5rem system-ui;
}

.SinglelineTextControl-element {
  appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px var(--black),
    inset 0.25rem 0.25rem color(var(--black) tint(80%));
  font: 300 var(--type-2)/1.75rem system-ui;
  margin-top: 0.5rem;
  max-width: 100%;
  padding: 0.5rem 0.75rem;
}

/**
 * invalid
 */

.SinglelineTextControl--invalid {
  box-shadow: inset 0.25rem 0 0 var(--red);
  padding-left: 1rem;
}

.SinglelineTextControl--invalid .SinglelineTextControl-element {
  box-shadow: inset 0 0 0 1px var(--red),
    inset 0.25rem 0.25rem color(var(--red) tint(80%));
}
