@import "../custom-properties.css";

/** @define BlockQuote; */

.BlockQuote {
  color: var(--green);

  &:not(:first-child) {
    margin-top: 2.5rem;
  }
}

.BlockQuote-image {
  border-radius: 50%;
  margin: 0 1.5rem;
  max-width: 20rem;
  overflow: hidden;
}

.BlockQuote-text {
  box-shadow: inset 0.25rem 0 0 currentColor;
  padding-left: 1.5rem;
  padding-top: 4.5rem;
  position: relative;

  &::before {
    content: "“";
    font: 600 var(--type-20) proxima-nova, sans-serif;
    left: 1rem;
    line-height: 0;
    margin-top: 5rem;
    position: absolute;
    top: -0.5rem;
  }
}

.BlockQuote-children {
  color: var(--black);
  font: 600 var(--type-4) proxima-nova, sans-serif;

  &::after {
    content: "”";
  }
}

.BlockQuote-cite {
  display: block;
  margin-top: 1rem;
}

.BlockQuote-role {
  color: var(--black);
  font: 300 var(--type-2) system-ui;
}

.BlockQuote-name {
  font: 600 var(--type-2) system-ui;
}

.BlockQuote--orange {
  color: var(--orange);
}

.BlockQuote--pink {
  color: var(--pink);
}

.BlockQuote--purple {
  color: var(--purple);
}

.BlockQuote--teal {
  color: var(--teal);
}

.BlockQuote--withImage {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, max-content));
  }
}
