@import "../../custom-properties.css";

/** @define AttentionGrabbingLink; */

.AttentionGrabbingLink {
  color: var(--white);
  display: inline-block;
  font: 600 var(--type-2) proxima-nova, sans-serif;
  min-width: 6rem;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;

  &:hover {
    text-decoration: none;
  }
}

.AttentionGrabbingLink--full {
  width: 100%;
}

.AttentionGrabbingLink--black {
  background-color: var(--black);
}

.AttentionGrabbingLink--orange {
  background-color: var(--orange);
}

.AttentionGrabbingLink--pink {
  background-color: var(--pink);
}

.AttentionGrabbingLink--purple {
  background-color: var(--purple);
}

.AttentionGrabbingLink--teal {
  background-color: var(--teal);
}
