@import "../custom-properties.css";

/** @define Footer; */

.Footer {
  background-color: color-mod(var(--black) tint(95%));
  box-shadow: 0 50vh 0 50vh color-mod(var(--black) tint(95%)),
    inset 0 0.25rem 0 0 color-mod(var(--black) tint(90%));
  margin: 4rem -1rem 0;
  padding: 2rem 1rem;
  position: relative;

  @media (min-width: 48rem) {
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 3rem 2rem;
  }
}

.Footer-items {
  display: flex;
  flex-direction: column;
  list-style: none;

  @media (min-width: 48rem) {
    flex-direction: row;
  }
}

.Footer-item {
  font: 300 var(--type--1) system-ui;

  @media (min-width: 48rem) {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.Footer-link {
  color: var(--black);
  display: inline-block;
  font: 300 var(--type--1) system-ui;
  padding: 0.25rem 0;

  &:hover {
    text-decoration: none;
  }
}

.Footer-children {
  color: var(--black);
  font: 300 var(--type--1) system-ui;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.Footer-copyright {
  color: var(--black);
  font: 300 var(--type--1) system-ui;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}
