@import "../../custom-properties.css";

/** @define Footer; */

.Footer {
  background-color: color-mod(var(--black) tint(90%));
  box-shadow: 0 50vh 0 50vh color-mod(var(--black) tint(90%));
  color: var(--black);
  font: 300 var(--type--1) system-ui;
  padding: 1rem;
}

.Footer-items {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.Footer-children {
  &:not(:first-child) {
    margin-top: 1rem;
  }
}

@media (min-width: 48rem) {
  .Footer {
    padding: 1.5rem 2rem;
  }

  .Footer-items {
    flex-direction: row;
  }

  .Footer-item {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}
