@import "../custom-properties.css";

/** @define Search; */

.Search {
  display: flex;
}

.Search-input {
  appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px var(--black),
    inset 0.25rem 0.25rem color-mod(var(--black) tint(80%));
  display: block;
  flex: 1;
  font: 300 var(--type-2) system-ui;
  padding: 0.5rem 0.75rem;
}

.Search-button {
  align-items: center;
  appearance: none;
  background: var(--green);
  border: none;
  border-radius: 0;
  box-shadow: 0.25rem 0.25rem color-mod(var(--green) shade(40%));
  display: flex;
  flex: 0 0 3rem;
  justify-content: center;
  margin-left: 0.5rem;
  white-space: normal;

  &:hover {
    background-color: color-mod(var(--green) shade(10%));
  }

  &:active {
    box-shadow: none;
    position: relative;
    top: 0.25rem;
  }
}
