@import "../custom-properties.css";

/** @define Search; */

.Search {
  display: flex;
  position: relative;
}

.Search-label {
  left: 0;
  position: absolute;
}

.Search-input {
  appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px var(--black),
    inset 0 0.25rem color-mod(var(--black) alpha(20%));
  display: block;
  flex: 1;
  font: 300 var(--type-2) system-ui;
  padding: 0.25rem 0.75rem;
  z-index: 1;
}

.Search-button {
  align-items: center;
  appearance: none;
  background: var(--green);
  border: none;
  border-radius: 0 50% 50% 0;
  display: flex;
  justify-content: center;
  padding: 0 0.75rem 0 0.5rem;
  white-space: normal;

  &:hover {
    background-color: color-mod(var(--green) shade(10%));
  }

  &:active {
    box-shadow: none;
    position: relative;
    top: 0.25rem;
  }
}
