@import "../../custom-properties.css";

/** @define Submit; */

.Submit {
  appearance: none;
  background-color: var(--green);
  border: none;
  border-radius: 0;
  box-shadow: 0.25rem 0.25rem color-mod(var(--green) shade(40%));
  color: var(--white);
  font: 600 var(--type-2) proxima-nova, sans-serif;
  min-width: 6rem;
  padding: 0.5rem 3rem;
  text-align: center;
  white-space: normal;
  width: 100%;

  &:hover {
    background-color: color-mod(var(--green) shade(10%));
  }

  &:active {
    box-shadow: none;
    position: relative;
    top: 0.25rem;
  }
}

@media (min-width: 32rem) {
  .Submit {
    width: auto;
  }
}
