@import "../../custom-properties.css";

/** @define Submit; */

.Submit {
  appearance: none;
  background-color: var(--green);
  border: none;
  border-radius: 0;
  box-shadow: 0.25rem 0.25rem color(var(--green) shade(30%));
  color: var(--white);
  font: 600 var(--type-2)/1.5rem Nova, sans-serif;
  padding: 0.75rem 3rem;
  text-align: center;
  white-space: normal;
  width: 100%;
}

.Submit:hover {
  background-color: color(var(--green) shade(10%));
}

.Submit:active {
  box-shadow: none;
  position: relative;
  top: 0.25rem;
}

@media (min-width: 32rem) {
  .Submit {
    width: auto;
  }
}
