@import "../custom-properties.css";

/** @define Submit; */

.Submit {
  appearance: none;
  background-color: var(--brand-colour);
  background-image: linear-gradient(
    color-mod(var(--brand-colour) tint(20%)),
    var(--brand-colour)
  );
  border: none;
  border-radius: 2rem;
  box-shadow: inset 0 0 0 1px color-mod(var(--brand-colour) shade(30%)),
    inset 0 -0.25rem color-mod(var(--brand-colour) shade(60%) alpha(70%));
  color: var(--white);
  font: 600 var(--type-2) var(--brand-font);
  min-height: 3.25rem;
  min-width: 6rem;
  padding: 0 3rem;
  text-align: center;
  white-space: normal;
  width: 100%;

  &:hover {
    background-image: linear-gradient(
      var(--brand-colour),
      color-mod(var(--brand-colour) shade(20%))
    );
  }

  &:active {
    box-shadow: inset 0 0 0 1px color-mod(var(--brand-colour) shade(30%));
    position: relative;
    top: 0.25rem;
  }

  &:not(:first-child) {
    margin-top: 2.5rem;
  }

  @media (min-width: 32rem) {
    width: auto;
  }
}
