@import "../../custom-properties.css";

/** @define AttentionGrabbingCard; */

.AttentionGrabbingCard {
  background-color: var(--black);
  box-shadow: inset 0 0 0 2px var(--black), 0.25rem 0.25rem currentColor;
  color: var(--white);
  display: block;
  text-decoration: none;
}

.AttentionGrabbingCard-image {
  display: block;
  max-width: 100%;
  padding: 2px; /* stylelint-disable-line declaration-property-unit-whitelist */
}

.AttentionGrabbingCard-text {
  padding: 1rem;
}

.AttentionGrabbingCard-meta {
  color: color-mod(var(--white) shade(30%));
  font: 300 var(--type-0) system-ui;
  margin-top: 0.5rem;
}

.AttentionGrabbingCard-title {
  color: var(--white);
  font: 500 var(--type-5) Vision, sans-serif;
}

.AttentionGrabbingCard-children {
  color: var(--white);
  font: 300 var(--type-0) system-ui;
  margin-top: 1rem;
}

.AttentionGrabbingCard-link {
  margin-top: 1rem;
}

@media (min-width: 30rem) {
  .AttentionGrabbingCard-link {
    display: inline-block;
  }
}

.AttentionGrabbingCard--orange {
  color: var(--orange);
}

.AttentionGrabbingCard--pink {
  color: var(--pink);
}

.AttentionGrabbingCard--purple {
  color: var(--purple);
}

.AttentionGrabbingCard--teal {
  color: var(--teal);
}
