@import "../../custom-properties.css";

/** @define StartLink; */

.StartLink {
  background: url("./chevron.svg") no-repeat 90% 1.125rem var(--green);
  background-size: 1rem;
  color: var(--white);
  display: inline-block;
  font: 500 var(--type-2) Vision, sans-serif;
  padding: 0.5rem 2.25rem 0.5rem 1rem;
  position: relative;
  text-align: center;

  &:active,
  &:hover {
    background-color: color-mod(var(--green) shade(10%));
  }
}
