@import "../../custom-properties.css";

/** @define StartLink; */

.StartLink {
  background-color: var(--green);
  color: var(--white);
  display: inline-block;
  font: 600 var(--type-2) proxima-nova, sans-serif;
  padding: 0.5rem 2.25rem 0.5rem 1rem;
  position: relative;
  text-align: center;

  &::after {
    content: "›";
    display: inline-block;
    font: 300 var(--type-8) proxima-nova, sans-serif;
    line-height: 0;
    margin: 1.25rem 0 0 0.5rem;
    position: absolute;
    text-decoration: none;
    top: 0.125rem;
    white-space: pre-wrap;
  }

  &:hover {
    text-decoration: none;
  }
}
