@import "../custom-properties.css";

/** @define StartLink; */

.StartLink {
  background-color: var(--brand-colour);
  color: var(--white);
  display: inline-block;
  font: 600 var(--type-2) var(--brand-font);
  padding: 0.5rem 1rem;

  &::after {
    text-decoration: underline; /* ie11 fix */
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  &::after {
    content: "›";
    display: inline-block;
    font: 300 var(--type-8) var(--brand-font);
    line-height: 0;
    padding-left: 0.5rem;
    position: relative;
    text-decoration: none;
    top: 0.25rem;
  }

  &:hover {
    text-decoration: none;
  }

  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}
