@import "../custom-properties.css";

/** @define TopicMenu; */

.TopicMenu {
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.TopicMenu-inner {
  box-shadow: inset 0 -0.25rem 0 0 var(--brand-colour);
  padding-bottom: 1.5rem;

  @media (min-width: 48rem) {
    max-height: calc(100vh - 2rem);
    overflow-y: scroll;
    position: sticky;
    top: 1rem;
  }
}

.TopicMenu-heading {
  font: 600 var(--type-0) var(--body-font);
}

.TopicMenu-items--level1 {
  margin-top: 0.5rem;
}

.TopicMenu-item {
  list-style: none;
}

.TopicMenu-link {
  color: var(--black);
  display: block;
  font: 300 var(--type-0) var(--body-font);
  margin: 0 -0.25rem;
  padding: 0.25rem;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.TopicMenu-items--level2 {
  margin: 0.25rem 0 1rem;

  & .TopicMenu-link {
    box-shadow: inset 0.25rem 0 0 color-mod(var(--black) tint(90%));
    font: 300 var(--type-0) var(--body-font);
    padding-left: 1rem;
  }
}
