@import "../../custom-properties.css";

/** @define Breadcrumbs; */

.Breadcrumbs-items {
  display: flex;
  flex-wrap: wrap;
}

.Breadcrumbs-item {
  list-style: none;
}

.Breadcrumbs-item:not(:first-child) {
  background: url("./slash.svg") no-repeat 0.6rem 0.45rem;
  padding-left: 1.5rem;
}

.Breadcrumbs-link {
  font: 300 var(--type-0)/1.5rem system-ui;
}
