@import "../custom-properties.css";

/** @define Breadcrumbs; */

.Breadcrumbs {
  margin-top: 1.5rem;
}

.Breadcrumbs-items {
  display: flex;
  flex-wrap: wrap;
}

.Breadcrumbs-item {
  list-style: none;
  position: relative;

  &:not(:first-child) {
    margin-left: 1.5rem;

    &::before {
      color: color-mod(var(--black) tint(90%));
      content: "›";
      font: 300 var(--type-6) proxima-nova, sans-serif;
      line-height: 0;
      margin: 0.5rem 0 0 -1rem;
      position: absolute;
      top: 0.125rem;
    }
  }
}

.Breadcrumbs-link {
  color: color-mod(var(--green) shade(20%));
  font: 300 var(--type-0) system-ui;

  &:hover {
    text-decoration: none;
  }
}
