@import "../../custom-properties.css";

/** @define Breadcrumbs; */

.Breadcrumbs-items {
  display: flex;
  flex-wrap: wrap;
}

.Breadcrumbs-item {
  list-style: none;

  &:not(:first-child) {
    background: url("./chevron.svg") no-repeat 0.4rem 0.45rem;
    background-size: 0.75rem 0.75rem;
    padding-left: 1.5rem;
  }
}

.Breadcrumbs-link {
  font: 300 var(--type-0) system-ui;
}
