/** @define SelectionControlGroup; */

.SelectionControlGroup-validation {
  color: #c30000;
  font: 600 1rem/1.5rem system-ui;
  margin-top: 0.5rem;
}

.SelectionControlGroup-fieldset {
  border: none;
}

.SelectionControlGroup-fieldset:not(:first-child) {
  margin-top: 0.5rem;
}

.SelectionControlGroup-legend {
  display: block;
  font: 600 1.375rem/1.75rem system-ui;
}

.SelectionControlGroup-hint {
  color: #616161;
  font: 300 1rem/1.5rem system-ui;
  margin-top: 0.5rem;
}

.SelectionControlGroup-selectionControls {
  margin-top: 1rem;
}

.SelectionControlGroup-selectionControl {
  margin-top: 1rem;
}

/**
 * errored
 */

.SelectionControlGroup--errored {
  box-shadow: inset 0.25rem 0 0 #c30000;
  padding-left: 1rem;
}

.SelectionControlGroup--errored .SelectionControlGroup-element {
  border-color: #c30000;
  box-shadow: inset 0.25rem 0.25rem #f3cccc;
}
