@import "../../custom-properties.css";

/** @define MultilineTextControl; */

.MultilineTextControl-label {
  display: block;
  font: 600 var(--type-3)/1.75rem system-ui;
}

.MultilineTextControl-hint {
  color: color-mod(var(--black) tint(30%));
  font: 300 var(--type-0)/1.5rem system-ui;
}

.MultilineTextControl-validation {
  margin-top: 0.5rem;
}

.MultilineTextControl-validationInner {
  color: var(--red);
  font: 600 var(--type-0)/1.5rem system-ui;
}

.MultilineTextControl-element {
  appearance: none;
  border: none;
  border-radius: 0;
  box-shadow: inset 0 0 0 1px var(--black),
    inset 0.25rem 0.25rem color-mod(var(--black) tint(80%));
  font: 300 var(--type-2)/1.75rem system-ui;
  margin-top: 0.5rem;
  max-width: 100%;
  padding: 0.5rem 0.75rem;
  resize: vertical;
}

.MultilineTextControl--invalid {
  box-shadow: inset 0.25rem 0 0 var(--red);
  padding-left: 1rem;

  & .MultilineTextControl-element {
    box-shadow: inset 0 0 0 1px var(--red),
      inset 0.25rem 0.25rem color-mod(var(--red) tint(80%));
  }
}
