/*
 * Shared custom properties
 */

:root {
  /* type (1.125 scale) */
  --type-0: 1rem;
  --type-1: 1.125rem;
  --type-2: 1.265rem;
  --type-3: 1.423rem;
  --type-4: 1.601rem;
  --type-5: 1.802rem;
  --type-6: 2.027rem;
  --type-7: 2.281rem;
  --type-8: 2.566rem;
  --type-9: 2.887rem;
  --type-10: 3.247rem;
  --type-11: 3.653rem;
  --type-12: 4.11rem;
  --type--1: 0.888rem;
  --type--2: 0.79rem;

  /* colors */
  /* stylelint-disable color-no-hex */
  --green: #6aa300;
  --pink: #cc0070;
  --teal: #0099a9;
  --purple: #6e2066;
  --orange: #e86c00;
  --red: #c30000;
  --black: #1d1d1d;
  --white: #fff;
}
