@import "../../custom-properties.css";

/** @define Index; */

.Index {
  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.Index-section {
  color: var(--black);
  font: 300 var(--type-0) system-ui;
}

.Index-items {
  display: grid;
  grid-gap: 0.25rem;
  margin-top: 1rem;
}

.Index-item {
  list-style: none;
}

.Index-link {
  color: color-mod(var(--green) shade(20%));
  font: 600 var(--type-0) system-ui;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: color-mod(var(--purple) shade(20%));
  }
}

.Index-item--level2 {
  &::before {
    content: "– ";
  }

  & .Index-link {
    font-weight: 300;
  }
}

.Index-item--level3 {
  &::before {
    content: "– ";
    padding-left: 0.75rem;
  }

  & .Index-link {
    font: 300 var(--type--1) system-ui;
  }
}
