@import "../custom-properties.css";

/** @define DesignSystemContentsMenu; */

.DesignSystemContentsMenu {
  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.DesignSystemContentsMenu-section {
  color: var(--black);
  font: 300 var(--type-0) system-ui;
}

@media (min-width: 48rem) and (min-height: 42rem) {
  .DesignSystemContentsMenu {
    height: 80vh;
    position: sticky;
    top: 1rem;
  }
}
