@import "../../custom-properties.css";

/** @define Conditional; */

.Conditional-target {
  box-shadow: inset 0.25rem 0 0 color-mod(var(--black) tint(90%));
  display: none;
  margin-top: 1rem;
  padding-left: 1rem;
}

.Conditional-target--active {
  display: block;
}
