@import "../../custom-properties.css";

/** @define ProgressLink; */

.ProgressLink {
  background: url("./chevron.svg") no-repeat 100% 0.5rem;
  background-size: 1rem;
  color: var(--green);
  display: inline-block;
  font: 500 var(--type-2) Vision, sans-serif;
  padding-right: 1.25rem;
  position: relative;
  text-align: center;

  &:active,
  &:hover {
    color: color-mod(var(--green) shade(10%));
  }

  &:visited {
    color: var(--purple);
  }
}
