@import "../../custom-properties.css";

/** @define DonateLink; */

.DonateLink {
  background-color: var(--green);
  color: var(--white);
  display: inline-block;
  font: 500 var(--type-2) Rubik, sans-serif;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;

  &:active,
  &:hover {
    background-color: color-mod(var(--green) shade(10%));
  }
}
