@import "../custom-properties.css";

.Link {
  color: color-mod(var(--brand-colour) shade(30%));

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: var(--visited-link-colour);
  }
}

.Link--inverted {
  color: white;

  &:visited {
    color: white;
  }
}
