@import "../custom-properties.css";

/** @define SignpostLinks; */

.SignpostLinks {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}
